<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<img src="volleyball-1977364_1280.jpg" alt="login-background" class="login-background img-fluid position-absolute w-100 h-100" />

<div class="conta d-flex flex-column align-items-center justify-content-center vh-100 position-relative">
  <!-- Banner -->
  <div class="banner text-center bg-primary text-white p-3 rounded shadow mb-4">
    <p class="text-center text-primary mb-4 fs-4">PhaQchas</p>
  </div>

  <!-- Contenedor del Login -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="login-box p-4 rounded shadow bg-light">
          <h1 class="text-center text-primary mb-4 fs-4">INICIO DE SESIÓN</h1>
          <form (ngSubmit)="login()">
            <div class="mb-3">
              <label for="usuario" class="form-label fw-bold">Usuario</label>
              <div class="input-group">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
                <input
                  type="text"
                  id="usuario"
                  [(ngModel)]="usuario"
                  name="usuario"
                  class="form-control"
                  placeholder="Ingresa tu usuario"
                  required
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="contrasena" class="form-label fw-bold">Contraseña</label>
              <div class="input-group">
                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                <input
                  type="password"
                  id="contrasena"
                  [(ngModel)]="contrasena"
                  name="contrasena"
                  class="form-control"
                  placeholder="Ingresa tu contraseña"
                  required
                />
              </div>
            </div>
            <button type="submit" class="btn btn-primary w-100 fw-bold">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
