<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-lg p-5" style="max-width: 500px; width: 100%;">
      <h3 class="text-center mb-4">Iniciar sesión como Administrador</h3>
      <form (ngSubmit)="onLogin()">
        <div class="form-group mb-3">
          <label for="usuario" class="form-label">Usuario</label>
          <input type="text" id="usuario" class="form-control form-control-lg" [(ngModel)]="usuario" name="usuario" required />
        </div>
        
        <div class="form-group mb-4">
          <label for="contrasena" class="form-label">Contraseña</label>
          <input type="password" id="contrasena" class="form-control form-control-lg" [(ngModel)]="contrasena" name="contrasena" required />
        </div>
        
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary btn-lg" [disabled]="!usuario || !contrasena">Iniciar sesión</button>
        </div>
        
 
      </form>
    </div>
  </div>
  