#navbar {
	height: 50px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	background-color: #a6cda4;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
#sidebar-wrapper {
	height: 100vh;
	width: 200px;
	position: fixed;
	top: 50px;
	background-color: #0f896b;
	color: white;
	z-index: 1000;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.sidebar-heading {
	text-align: center;
	padding-top: 30px;
}
.user-icon {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: auto;
	background-color: white;
}
.user-name {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: rgb(97, 173, 175);
}
.list-group-item {
	background-color: #0f896b;
	color: white;
}
.list-group-item:hover {
	background-color: #e8ffed;
	border-radius: 10%;
}
.list-group-item i {
	margin-right: 10px;
}
.content {
	margin-top: 50px;
	margin-left: 200px;
	padding: 20px;
	flex: 1;
}

.custom-table {
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .custom-table th,
  .custom-table td {
	border: none;
	padding: 10px;
  }
  
  .custom-table thead {
	background-color: #f8f9fa;
  }
  
  .cell-data {
	background-color: #fdfdfd;
	transition: background-color 0.3s;
	cursor: pointer;
  }
  
  .cell-data:hover {
	background-color: #e9f5ff;
  }
  
  .btn-outline-primary {
	border-radius: 5px;
  }
  .table-responsive {
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    white-space: nowrap;
}

.sticky-col, td:first-child {
    position: sticky;
    left: 0;
    background-color: white; /* Asegura que no se sobreponga con otras celdas */
    z-index: 2;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Opcional: Sombra para separar */
}
