$primary-color: #ffffff;
$secondary-color: #4CAF50; // Color verde para el botón
$font-color: #000000;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    padding: 10px 20px;

    .logo {
        font-family: 'Arial Black', sans-serif;
        font-size: 24px;
        font-weight: bold;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 20px;

        .btn{
            text-decoration: none;
            color: $font-color;
            font-weight: 500;
            transition: color 0.3s;

            &:hover {
                color: $secondary-color;
            }
        }

        .register-btn {
            background-color: $secondary-color;
            color: $primary-color;
            padding: 10px 15px;
            border-radius: 5px;
            font-weight: bold;
            transition: background-color 0.3s;

            &:hover {
                background-color: darken($secondary-color, 10%);
            }
        }
    }
}